section.advantages
	.container
		.section-head
			h2.title.title--color-white.advantages__title.section-title(data-aos="fade-up" ) Наши преимущества
		.advantages__items
			.advantages__item(data-aos="zoom-in" data-aos-delay="100")
				+icon('health', 'advantages__item-icon')
				span.advantages__item-text Работа со страховыми пакетами
			.advantages__item(data-aos="zoom-in" data-aos-delay="300")
				+icon('idea', 'advantages__item-icon')
				span.advantages__item-text Применение инновационных технологий
			.advantages__item(data-aos="zoom-in" data-aos-delay="500")
				+icon('guaranteed', 'advantages__item-icon')
				span.advantages__item-text Гарантия успешного лечения
			.advantages__item(data-aos="zoom-in" data-aos-delay="700")
				+icon('doctor', 'advantages__item-icon')
				span.advantages__item-text Применение инновационных технологий