section.banner
	.container
		.section-head
			h2.section-title.title.banner__title(data-aos="fade-up") Наши филиалы
	.banner__map(data-aos="fade-right")
		iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A92bd9151f781bb1f3abe12ce73e91baed057c1792b411d999bad1f32fc11a0d5&amp;source=constructor" width="100%" frameborder="0")
		.banner__info
			.banner__info-box
				.banner__info-col
					h3.banner__subtitle(data-aos="zoom-in" data-aos-delay="300") Адрес
					ul.banner__info-list
						li.banner__info-item(data-aos="zoom-in" data-aos-delay="300")
							+icon('marker', 'banner__info-icon')
							span.banner__info-text Хоренаци 30/3, Центральный Бизнес Центр.
						li.banner__info-item(data-aos="zoom-in" data-aos-delay="300")
							+icon('marker', 'banner__info-icon')
							span.banner__info-text Амирян 4/2, парк плаза Центральный Бизнес Центр.
				.banner__info-col
					h3.banner__subtitle(data-aos="zoom-in" data-aos-delay="300") Рабочие часы
					ul.banner__info-list
						li.banner__info-item(data-aos="zoom-in" data-aos-delay="300")
							+icon('clock', 'banner__info-icon')
							span.banner__info-text каждый день <br> С 07:00 до 23:00
				.banner__info-col
					h3.banner__subtitle(data-aos="zoom-in" data-aos-delay="300") Позвоните нам
					ul.banner__info-list
						li.banner__info-item.banner__info-phone(data-aos="zoom-in" data-aos-delay="300")
							+icon('phone', 'banner__info-icon')
							a(href="tel: +37494303029").banner__info-text 094 303029
						li.banner__info-item.banner__info-phone(data-aos="zoom-in" data-aos-delay="300")
							+icon('phone', 'banner__info-icon')
							a(href="tel: +37494303029").banner__info-text 096 303021
						li.banner__info-item.banner__info-phone(data-aos="zoom-in" data-aos-delay="300")
							+icon('phone', 'banner__info-icon')
							a(href="tel: +37494303029").banner__info-text 094 303029