section.services#scroll-elem
	.container
		.section-head.services__head
			h2.title.section-title(data-aos="fade-up") Услуги
			.section-head__arrows.services__arrows
		.services__slider(data-space="10")
			.services__slide(data-aos="zoom-in" data-aos-delay="300")
				.services__item(style="background-image: url(static/images/content/services/services-image-1.jpg)")
					h3.services__item-title Александритовая лазерная эпиляция
					span.services__item-desc Александритовая лазерная эп иляция нашла признание во многих странах мира считается одним из самых эффективных методов радикального удаления волос.
					a(href="#").services__item-link.btn.btn--size-small узнать подробнее
			.services__slide(data-aos="zoom-in" data-aos-delay="500")
				.services__item(style="background-image: url(static/images/content/services/services-image-2.jpg)")
					h3.services__item-title Диодная лазерная эпиляция
					span.services__item-desc Диодная эпиляция отличается от других тем, что длина волны этого лазера меньше поглощается поверхностными клетками кожи и проникает глубже.
					a(href="#").services__item-link.btn.btn--size-small узнать подробнее
			.services__slide(data-aos="zoom-in" data-aos-delay="700")
				.services__item(style="background-image: url(static/images/content/services/services-image-3.jpg)")
					h3.services__item-title SHR лазерная эпиляция
					span.services__item-desc эффекты ослабленных фолликулов (более медленный рост и более тонкие пряди волос) становятся очевидными после пяти-семи сеансов.
					a(href="#").services__item-link.btn.btn--size-small узнать подробнее
			.services__slide
				.services__item(style="background-image: url(static/images/content/services/services-image-1.jpg)")
					h3.services__item-title Александритовая лазерная эпиляция
					span.services__item-desc Александритовая лазерная эп иляция нашла признание во многих странах мира считается одним из самых эффективных методов радикального удаления волос.
					a(href="#").services__item-link.btn.btn--size-small узнать подробнее
			.services__slide
				.services__item(style="background-image: url(static/images/content/services/services-image-2.jpg)")
					h3.services__item-title Диодная лазерная эпиляция
					span.services__item-desc Диодная эпиляция отличается от других тем, что длина волны этого лазера меньше поглощается поверхностными клетками кожи и проникает глубже.
					a(href="#").services__item-link.btn.btn--size-small узнать подробнее
			.services__slide
				.services__item(style="background-image: url(static/images/content/services/services-image-3.jpg)")
					h3.services__item-title SHR лазерная эпиляция
					span.services__item-desc эффекты ослабленных фолликулов (более медленный рост и более тонкие пряди волос) становятся очевидными после пяти-семи сеансов.
					a(href="#").services__item-link.btn.btn--size-small узнать подробнее
		a(href="#" data-aos="zoom-in" data-aos-delay="500" data-izimodal-open="#call" data-izimodal-transitionin="fadeInDown").services__btn.btn.btn--color-bg заказать звонок