section.statistics
	.container
		.section-head
			h2.section-title.title.title--color-white.statistics__title(data-aos="fade-up") Статистика
		.statistics__items
			.statistics__item(data-aos="zoom-in" data-aos-delay="100")
				+icon('team', 'statistics__item-icon')
				span.statistics__item-number 25
				span.statistics__item-subtitle лет опыта
			.statistics__item(data-aos="zoom-in" data-aos-delay="300")
				+icon('patient', 'statistics__item-icon')
				span.statistics__item-number 55000
				span.statistics__item-subtitle пациентов
			.statistics__item(data-aos="zoom-in" data-aos-delay="500")
				+icon('certificate', 'statistics__item-icon')
				span.statistics__item-number 250
				span.statistics__item-subtitle сертификаты
			.statistics__item(data-aos="zoom-in" data-aos-delay="700")
				+icon('brain', 'statistics__item-icon')
				span.statistics__item-number 10
				span.statistics__item-subtitle Изобретение