section.team
	.container
		.section-head
			h2.title.section-title.team__title(data-aos="fade-up") Наша команда
			.section-head__arrows.team__arrows
		.team__slider(data-space="10")
			.team__slide(data-aos="zoom-in" data-aos-delay="100")
				.team__item
					.team__item-picture(style="background-image: url(static/images/content/team/team-image-1.jpg)")
					span.team__item-name Мгер Мурадян
					span.team__item-profession Стоматолог
					span.team__item-desc Занимающийся изучением зубов, их строения и функционирования
					.team__item-socials
						a(href="#").team__item-socials-link
							+icon('facebook', 'team__item-icon')
						a(href="#").team__item-socials-link
							+icon('instagram', 'team__item-icon')
						a(href="#").team__item-socials-link
							+icon('linkedin', 'team__item-icon')
						a(href="#").team__item-socials-link
							+icon('whatsapp', 'team__item-icon')
			.team__slide(data-aos="zoom-in" data-aos-delay="300")
				.team__item
					.team__item-picture(style="background-image: url(static/images/content/team/team-image-2.jpg)")
					span.team__item-name Мгер Мурадян
					span.team__item-profession Стоматолог
					span.team__item-desc Занимающийся изучением зубов, их строения и функционирования
					.team__item-socials
						a(href="#").team__item-socials-link
							+icon('facebook', 'team__item-icon')
						a(href="#").team__item-socials-link
							+icon('instagram', 'team__item-icon')
						a(href="#").team__item-socials-link
							+icon('linkedin', 'team__item-icon')
						a(href="#").team__item-socials-link
							+icon('whatsapp', 'team__item-icon')
			.team__slide(data-aos="zoom-in" data-aos-delay="500")
				.team__item
					.team__item-picture(style="background-image: url(static/images/content/team/team-image-3.jpg)")
					span.team__item-name Мгер Мурадян
					span.team__item-profession Стоматолог
					span.team__item-desc Занимающийся изучением зубов, их строения и функционирования
					.team__item-socials
						a(href="#").team__item-socials-link
							+icon('facebook', 'team__item-icon')
						a(href="#").team__item-socials-link
							+icon('instagram', 'team__item-icon')
						a(href="#").team__item-socials-link
							+icon('linkedin', 'team__item-icon')
						a(href="#").team__item-socials-link
							+icon('whatsapp', 'team__item-icon')

			.team__slide(data-aos="zoom-in" data-aos-delay="700")
				.team__item
					.team__item-picture(style="background-image: url(static/images/content/team/team-image-4.jpg)")
					span.team__item-name Мгер Мурадян
					span.team__item-profession Стоматолог
					span.team__item-desc Занимающийся изучением зубов, их строения и функционирования
					.team__item-socials
						a(href="#").team__item-socials-link
							+icon('facebook', 'team__item-icon')
						a(href="#").team__item-socials-link
							+icon('instagram', 'team__item-icon')
						a(href="#").team__item-socials-link
							+icon('linkedin', 'team__item-icon')
						a(href="#").team__item-socials-link
							+icon('whatsapp', 'team__item-icon')
			.team__slide
				.team__item
					.team__item-picture(style="background-image: url(static/images/content/team/team-image-1.jpg)")
					span.team__item-name Мгер Мурадян
					span.team__item-profession Стоматолог
					span.team__item-desc Занимающийся изучением зубов, их строения и функционирования
					.team__item-socials
						a(href="#").team__item-socials-link
							+icon('facebook', 'team__item-icon')
						a(href="#").team__item-socials-link
							+icon('instagram', 'team__item-icon')
						a(href="#").team__item-socials-link
							+icon('linkedin', 'team__item-icon')
						a(href="#").team__item-socials-link
							+icon('whatsapp', 'team__item-icon')
			.team__slide
				.team__item
					.team__item-picture(style="background-image: url(static/images/content/team/team-image-2.jpg)")
					span.team__item-name Мгер Мурадян
					span.team__item-profession Стоматолог
					span.team__item-desc Занимающийся изучением зубов, их строения и функционирования
					.team__item-socials
						a(href="#").team__item-socials-link
							+icon('facebook', 'team__item-icon')
						a(href="#").team__item-socials-link
							+icon('instagram', 'team__item-icon')
						a(href="#").team__item-socials-link
							+icon('linkedin', 'team__item-icon')
						a(href="#").team__item-socials-link
							+icon('whatsapp', 'team__item-icon')
			.team__slide
				.team__item
					.team__item-picture(style="background-image: url(static/images/content/team/team-image-3.jpg)")
					span.team__item-name Мгер Мурадян
					span.team__item-profession Стоматолог
					span.team__item-desc Занимающийся изучением зубов, их строения и функционирования
					.team__item-socials
						a(href="#").team__item-socials-link
							+icon('facebook', 'team__item-icon')
						a(href="#").team__item-socials-link
							+icon('instagram', 'team__item-icon')
						a(href="#").team__item-socials-link
							+icon('linkedin', 'team__item-icon')
						a(href="#").team__item-socials-link
							+icon('whatsapp', 'team__item-icon')

			.team__slide
				.team__item
					.team__item-picture(style="background-image: url(static/images/content/team/team-image-4.jpg)")
					span.team__item-name Мгер Мурадян
					span.team__item-profession Стоматолог
					span.team__item-desc Занимающийся изучением зубов, их строения и функционирования
					.team__item-socials
						a(href="#").team__item-socials-link
							+icon('facebook', 'team__item-icon')
						a(href="#").team__item-socials-link
							+icon('instagram', 'team__item-icon')
						a(href="#").team__item-socials-link
							+icon('linkedin', 'team__item-icon')
						a(href="#").team__item-socials-link
							+icon('whatsapp', 'team__item-icon')