.js-slide
	.slider__bg(style="background-image: url(static/images/content/slider/slider-bg-1.jpg)")
		.container
			.slider__inner
				.slider__content
					h2.slider__title(data-aos="fade-right") Все здоровые люди любят жизнь.
					a(href="#" data-aos="fade-right" data-aos-delay="500" data-izimodal-open="#call" data-izimodal-transitionin="fadeInDown").btn.slider__btn заказать звонок
					a(href="#" data-aos="fade-right" data-aos-delay="800" data-izimodal-open="#hours" data-izimodal-transitionin="fadeInDown").btn.slider__btn Рабочие часы
					+icon('arrow-down-double', 'slider__icon')