.js-slide
	.slider__bg(style="background-image: url(static/images/content/slider/slider-bg-3.jpg)")
		.container
			.slider__inner
				.slider__content
					h2.slider__title Красота действует даже на тех, кто ее не замечает.
					a(href="#").btn.slider__btn.js-popup заказать звонок
					a(href="#").btn.slider__btn.js-popup Рабочие часы
					+icon('arrow-down-double', 'slider__icon')