.swiper-slide.slider__slide
	.slider__bg(style="background-image: url(static/images/content/slider/slider-bg-2.jpg)")
		.container
			.slider__inner
				.slider__content
					h1.slider__title Здоровье - самое ценное, что есть у человека
					a(href="#").slider__btn.btn.js-popup заказать звонок
					a(href="#").slider__btn.btn.js-popup Рабочие часы
					+icon('arrow-down-double', 'slider__icon')