.loader
	.loader__item-1
		span
	.loader__item-2
		span
	.loader__item-3
		span
	.loader__item-4
		span
	.loader__item-5
		span
	.loader__item-6
		span
	.loader__item-7
		span
	.loader__item-8
		span
	.loader__item-9
		span