extends layout/main

block variables
	-var title = 'Главная страница'

block content
	include modules/slider
	include modules/services
	include modules/advantages
	include modules/reviews
	include modules/statistics
	include modules/team
	include modules/branches
