.title {
  font-size: 45px;
  line-height: 72px;
  font-weight: 300;
  letter-spacing: .14em;
  position: relative;
  display: inline-block;
  font-family: "Kalam", sans-serif;

  &::after,
  &::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 1px;
    background-color: var(--bg);
    display: block;
  }
  &::after {
    left: 0;
    bottom: -5px;
  }
  &::before {
    left: 50%;
    transform: translateX(-50%);
    margin-right: -50%;
    bottom: -10px;
  }
  &--color{
    &-white{
      color: var(--white);
      &::after,
      &::before {
        background-color: var(--white);
      }
    }
  }
}
.btn{
  padding: 19px 15px;
  max-width: 400px;
  width: 100%;
  border-radius: 55px;
  color: var(--white);
  border: 2px solid var(--white);
  text-transform: uppercase;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.035em;
  font-weight: 600;
  text-align: center;
  display: block;
  transition: all linear .2s;
}
@media (max-width: 972px) {
  .btn{
    font-size: 20px;
    line-height: 22px;
  }
  .logo{
    max-width: 154px;
    &__image{
      max-height: 70px;
    }
  }
}
@media (max-width: 768px) {
  .title {
    font-weight: 300;
    font-size: 36px;
    line-height: 57px;
  }
}
@media (max-width: 600px) {
  .title {
    font-size: 24px;
    line-height: 38px;
    text-align: center;
  }
  .btn{
    font-size: 18px;
    line-height: 22px;
    border-width: 1.5px;
  }
}