// Colors
:root {
  --bg: #4f4f4f;
  --white: #fff;
  --black: #000;
  --yellow: #FFD148;
  --accent: #7884A4;
}
// Sizes
$base-font-size: 20px;

$tablet: 768;
$large: 1024;
$desktop: 1280;

$content: 1260px;

// Fonts
