.main__banner
	.main__banner-bg(style="background-image: url(static/images/content/about/about-banner.jpg)")
		.container
			.main__banner-inner
				h2.main__banner-title.title.title--color-white О нас
					+icon('info', 'main__banner-icon')