.reviews__item
	+icon('quote', 'reviews__item-decor')
	.reviews__item-userpic(style="background-image: url(static/images/common/avatar-3.svg)")
	span.reviews__item-name Давид А.
	span.js-stars.reviews__item-stars(data-rateyo-rating="5" data-rateyo-read-only="true")
	p.reviews__item-text Обращаясь в клинику лук каре, можете быть уверены, что вы в надежных руках. Работа доктора Нжде заслуживает высоких похвал. Ег Обращаясь в клинику лук каре, можете быть уверены, что вы в надежных руках. Работа доктора Нжде заслуживает высоких похвал. Ег
	span.reviews__item-day 6 месяцев назад