.reviews__item
	+icon('quote', 'reviews__item-decor')
	.reviews__item-userpic(style="background-image: url(static/images/common/avatar-2.svg)")
	span.reviews__item-name Миша В.
	span.js-stars.reviews__item-stars(data-rateyo-rating="5" data-rateyo-read-only="true")
	p.reviews__item-text Хочу поделиться своими впечатлениями со всеми. В кратчайшие сроки доктор  Мгер Мурадян решил все мои проблемы, связанные с зубами. Хочу поделиться своими впечатлениями со всеми. В кратчайшие сроки доктор  Мгер Мурадян решил все мои проблемы, связанные с зубами.
	span.reviews__item-day 2 месяцев назад