#call.js-popup.popup
	h3.popup__title Заказать звонок
	button(data-izimodal-close="#call").popup__close
		+icon('close', 'popup__close-icon')
	form(action="#").popup__form
		label.popup__lable
			span.popup__lable-subtitle Ваше имя (обязательное поле)
			input(type="text" required).input.popup__input
		label.popup__lable
			span.popup__lable-subtitle Ваш Email-адрес (обязательное поле)
			input(type="text" data-inputmask="'alias': 'email'" required).input.popup__input
		label.popup__lable
			span.popup__lable-subtitle Ваш телефон (обязательное поле)
			input(type="tel" data-inputmask="'mask': '+9999999999999', 'placeholder': ''" required).input.popup__input
		label.popup__lable
			span.popup__lable-subtitle Тема
			input(type="text").input.popup__input
		label.popup__lable
			span.popup__lable-subtitle Ваше сообщение
			textarea.textarea.popup__input
		button(type="submit").popup__btn отправить